width = 250px
maxHeight = 300px
backgroundColor = white
border = 1px solid #ccc
activeColor = #ae644e

.SuperSelect
  width width
  background backgroundColor
  display inline-block
  position relative

  &__prompt
    border-radius 2px
    border border
    padding 10px 40px 10px 10px
    position relative
    cursor pointer
    height 40px
    box-sizing border-box
    box-shadow 0 0 5px rgba(0,0,0,0.3);

    &_bottom
      border-radius 2px 2px 0 0

    &_top
      border-radius 0 0 2px 2px

  &__box
    position relative
    cursor pointer
    transition all 0.1s

    &_expanded
      position absolute
      top -7px
      font-size 0.8em
      left 8px
      background backgroundColor
      z-index 2

  &__input
    width 100%
    height 100%
    border none
    outline none
    background backgroundColor

  &__switch
    position absolute
    cursor pointer
    right 0
    height 100%;
    top 0
    width 30px;
    text-align center
    z-index 9
    border 0
    background inherit

  &__list
    border border
    margin 0
    padding 0
    overflow-x hidden
    overflow-y auto
    position absolute
    left -1px
    width width - 2px
    display block
    max-height 0
    transition max-height 0.1s
    visibility hidden
    z-index 1
    background backgroundColor

    &_expanded
      visibility visible
      max-height maxHeight

    &_bottom
      top 39px
      border-top 0
      border-radius 0 0 2px 2px

    &_top
      border-bottom 0
      border-radius 2px 2px 0 0
      bottom 39px


  &__item
    list-style none
    margin 0
    padding 7px 10px
    cursor pointer
    overflow-x hidden
    white-space nowrap

    &-active
      color activeColor
      text-decoration underline

    &:hover
      color activeColor

  &__selectMobile
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
